@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Share+Tech&display=swap');


/*--------------------------> Informações Globais <-----------------------------*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Moderustic", Verdana, sans-serif;
}

:root {
    /* paleta de cores */
    --cor1: #BFBFBF;
    --cor2: #F2F2F2;
    --cor3: #737373;
    --cor4: #404040;
    --cor5: #0D0D0D;

    --font-destaque:'krub-regular',Times,sans-serif;
}

body{
    background-color: #ffff;
    overflow-x: hidden;
    height: 100vh;
}

a{
    text-decoration: none;
}

/*-----------------------------> Cabeçalho <-------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--cor5);
}

#titulo{
    font-family: var(--font-destaque);
    font-style: italic;
    font-weight: 500;
    color: white;
    margin-left: 20px;
    font-size: 4rem;
    /* shorthand  font - (font-style -> font-weight -font-size -> font-family) */
}


/*--------------------------> Imagem Central LOGO <-----------------------------*/
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.conteiner img{
    position: absolute;
    left: 49%;
    transform: translate(-50%);
    margin-top: -80px;
}

/*----------------------------> Links de Contato <-------------------------------*/
.social-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.social-contato button{
    padding: 10px;
    background: transparent;
    border: none;
    color: #fff;
}

.social-contato button i{
    display: inline-block;
    font-size: 35px;
    align-items: center;
    justify-content: center;
}

.social-contato button:hover{
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
}

.social-contato .whatsapp:hover{
    background-image: linear-gradient(to right, #1eb91e, #74d85a, #83dd6d);
}

.social-contato .instagram:hover{
    background-image: linear-gradient(to right, #ffd600, #ff7a00, #ff0069, #d300c5,#7638fa);
}



/*--------------------------> Botão de Agendamento <----------------------------*/

.agendamento{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    align-items: center;
}

.agendamento button{
    background-color: #0D0D0D;
    color: #fff;
    padding: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 2px 10px #0D0D0D;
}

.agendamento button:hover{
    color: #000;
    background-color: #fff;
}



/*-------------------------------> Footer <--------------------------------*/

footer{
    padding: 20px;
    color: #fff;
    background-color: var(--cor5);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

footer h4{
    font-size: 25px;
    margin-bottom: 18px;
}

footer .rua{
    font-size: 20px;
    margin-bottom: 5px;
}

.linha-footer{
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin:  10px 0;
}

